#cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 7% 0 1;
  height: 8vw;
  border: 2px solid #e0e0e0;
  margin: 2px;
  box-sizing: border-box;
}

.card img {
  max-width: 30%;
  align-self: center;
}
.card p {
  margin: 3px;
  font-size: 10px;
}
.card p:last-child {
  transform: rotate(180deg);
}
.back {
  background-image: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}
.paired {
  background-color: #e0e0e0;
}
#header{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: flex-end;
  width: 85%;
}
#header .title {
  border: 2px solid;
  /* width: 100%; */
  display: flex;
  /* justify-content: flex-end; */
}
#header .title img {
  max-width: 3rem;
}
#header .title h2 {
  padding-left: 0.5em;
}
#header .score {
  margin: 0;
  color: #6c90ac;
}
#header .tried {
  margin-top: 0;
}
.failed {
  animation: matchFailed;
  animation-duration: 0.2s;
  animation-iteration-count: 3;
}
@keyframes matchFailed {
  to {
    border: 2px solid yellow;
  }
}

/* Game finished */
.finished {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}
.finished > p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}
.finished > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}